<div>
    <table>
        <tr>
            <td>
                <input type="text" placeholder="Username" class="form-control" />
            </td>
        </tr>
        <tr>
            <td>
                <input type="password" placeholder="Password" class="form-control"/>
            </td>
        </tr>
        <tr>
            <td>
                <input type="text" placeholder="Firstname" class="form-control"/>
            </td>
        </tr>
        <tr>
            <td>
                <input type="text" placeholder="Middlename" class="form-control"/>
            </td>
        </tr>
        <tr>
            <td>
                <input type="text" placeholder="Lastname" class="form-control"/>
            </td>
        </tr>
        <tr>
            <td>
                <input type="text" placeholder="E-mail Address" class="form-control"/>
            </td>
        </tr>
        <tr>
            <td>
                <input (click)="OnSubmit()" type="button" value="Submit" />
            </td>
        </tr>
    </table>
</div>