<div>
    <h1>Game Description</h1>
    <h2 *ngIf="games">{{games.title}}</h2>
    <img src="games.imageCover" style="width:300px; height:300px;" />


    <h3>Screenshots</h3>
    <table>
        <tr>
            <td *ngFor="let image of games.image">
                <img src="image.src" style="width:100px; height:100px;" />
            </td>
        </tr>
    </table>
    <h3>Download Link</h3>
    <table>
        <tr *ngFor="let link of games.link">
            <td>
                <a (click)="OpenLink(link.link)">{{link.link}}</a>
            </td>
        </tr>
    </table>

</div>