<div>
    <link rel="stylesheet" type="text/css" href="./../css/GameDescription.css">
    <h2 *ngIf="games">{{games.title}}</h2>
    <img src="{{games.imageCover}}" style="width:300px; height:300px;" />

    <h3>Screenshots</h3>
    <table>
        <tr>
            <td *ngFor="let image of games.image">
                <div class="thumbnail">
                    <div class="image">
                        <img src="{{image.src}}" style="width:100px; height:100px;" />
                    </div>
                </div>
            </td>
        </tr>
    </table>
    <h3>Download Link</h3>
    <table>
        <tr *ngFor="let link of games.link">
            <td>
                <a (click)="OpenLink(link.link)">{{link.link}}</a>
            </td>
            <td>
                <p>{{link.comments}}</p>
            </td>
        </tr>
    </table>

</div>