<div>
    <table align="center">
        <tr>
            <tabs-component [tabs]="tabs" (selectedTabs)="OnTabSelect($event)"></tabs-component>
        </tr>
        <tr *ngFor="let game of games">
            <td *ngIf="selectedOption==game.options">
                <h1>{{game.title}}</h1>
                <gameslist-component [games]="game.games" (event)="ShowGameDescription()"></gameslist-component>
            </td>
        </tr>
        <tr>
            <td *ngIf="selectedOption==4">
                <gamedescription-component></gamedescription-component>
            </td>
        </tr>
    </table>
</div>